<!--- nav bar start -->
<div class = "bodyColor2">
  <div ng-controller="AppCtrl" layout="column" style="height:70px;" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 style="font-size: 30px; font-weight: bold;" class = "open" ng-click="toggleLeft()">Profile</h2>
          <span flex></span>
          <h1 style="font-size: 30px; font-weight: bold;" class = "open" ng-click="toggleLeft()"> Open2</h1>
          <md-button class="md-warn md-raised md-hue-2" ng-click="authObj.$unauth()">logout</md-button>
        </div>
      </md-toolbar>
    </div>
    <!-- nav bar end -->

    <!-- userProfile -->
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl">
          <h3 class='open' ng-click="close()">{{info[0].username}}</h3>
        </md-toolbar>
        <br>
       <img data-ng-src="data:image/jpg;base64,{{info[0].picture}}" data-err-src="images/png/avatar.png"/>
        <br>
        <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl">
          <h3>Your Friends</h3>
          <div ng-repeat="friend in myFriends">
            <div>{{friend.username}}</div>
          </div>
          <h3 class= "open">Friends</h3>
          <md-button class="md-fab" id='searchFriends' aria-label="Eat cake" ng-click="showSearchBar()">
            <md-icon md-svg-src="../assets/search.svg"></md-icon>
          </md-button>
          <span ng-show="searchBarShown">
            <span><input type="text" ng-model='userNameYouWant'></input></span>
            <div ng-repeat="name in userList | filter:userNameYouWant">
              <span id='userResult'>{{name.username}}</span>
              <span><md-button class="md-warn md-raised md-hue-2" ng-click="addFriend(name.username)">Add Friend</md-button></span>
            </div>
          </span>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
          <ul ng-controller = 'dashboardCtrl' >
            <div ng-repeat = 'friend in friends'>
              <md-card-title-text>
                <img src="http://portal.stickntrack.com/images/profile.jpg" alt="Mountain View" style="width:50px;height:50px;"><span class="md-headline font">{{friend.username}}</span>
              </md-card-title-text>
            </div>
          </ul>
        </md-content>
      </md-sidenav>

      <md-content flex layout-padding ng-controller="dashboardCtrl">
        <div ng-show="showChat">
          <!-- button start -->
          <div class="md-padding" class="chatRoom" ng-cloak>
            <div>
              <h1>Chatroom</h1>
            </div>
            <div>
              <ul class="chatMsg">
                <li ng-repeat="msg in messages">
                  <strong>{{msg.from}}: </strong>{{msg.body}}
                </li>
              </ul>
            </div>
          </div>
          <div>
            <input ng-model="msg" ng-keydown="newMessage($event)" type="text" id="messageInput"  placeholder="Type a message...">
          </div>
        </div>

        <!-- notification Box -->
        <div id = 'eventContainer' layout="column" flex layout-fill ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools open" style="font-size: 30px;">Hangouts</div>
            <md-button class="md-primary md-raised" ng-click="showAdvanced($event)" flex class="md-warn"> new event</md-button>
          </md-toolbar>
          <md-content md-theme="altTheme">
            <div>
              <div ng-if='events.fetch'>
                <ul flex id = 'eventsList' class = 'font'>
                  <h4 class = 'open'>Available</h4>
                  <li ng-repeat="event in events.list | reverse" style = "list-style: none">
                    <span style = "font-weight: bold" class = 'font' > {{event.username}} wants to {{ event.eventname}} </span>
                    <span> {{event.timestamp.slice(11, 19)}}</span>
                    <md-button ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2" class = 'font'> {{event.status}} </md-button>
                  </li>
                </ul>
                <ul flex id = 'eventsIgoTo'>
                  <h4 class = 'open'>Attending</h4>
                  <li ng-repeat="event in events.eventsIgoTo | reverse" style = "list-style: none">
                    <span style = "font-weight: bold" class = 'font' > I want to {{ event.eventname}} </span>
                    <span> {{event.timestamp.slice(11, 19)}}  </span>
                    <md-button ng-click="join(event.id, event.status)" class="md-warn md-raised md-hue-2 font"> {{event.status}}</md-button>
                    <md-button ng-click="displayChat()" class="md-warn md-raised md-hue-2 font">Chat</md-button>
                  </li>
                </ul>
              </div>
            </div>
          </md-content>
        </div>
        <!-- Notification END -->
      </section>
    </div>
  </md-content>
</div>
